/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.scss to edit this template
*/
/*
    Created on : Aug 22, 2022, 4:09:09 PM
    Author     : Jazim Max
*/
.banner {
  margin-bottom: 0 !important; }

.menu-careers_menu-container ul li {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 5px;
  padding-top: 0px;
  padding-bottom: 4px;
  border-bottom: 1px dotted #fff;
  padding-left: 37px;
  background: url(../../img/icons/slide-menu-main-plus.png) no-repeat left top;
  background-size: 27px;
  display: block; }

.breadcrumb {
  margin: 0 0 0 0 !important; }
  .breadcrumb:after {
    content: "";
    display: block;
    clear: both; }

.container {
  margin-top: 99px; }

.career_links ul li {
  float: left;
  padding-left: 10px !important;
  padding: 0px 10px;
  color: #06a2c4;
  font-weight: bold;
  position: relative;
  background: unset !important;
  transition: .4s all;
  line-height: 24px !important; }
  .career_links ul li:hover {
    color: #001b48; }
  .career_links ul li:after {
    content: ' ';
    position: absolute;
    right: 0;
    top: 7px;
    height: 12px;
    border-right: 2px solid #001b48; }
  .career_links ul li:first-child {
    padding-left: 0 !important; }
  .career_links ul li:last-child {
    padding-right: 0; }
    .career_links ul li:last-child:after {
      display: none; }

@media screen and (max-width: 500px) {
  .career_links ul li {
    width: 100%;
    border: 1px solid #001b48;
    text-align: center;
    padding: 0;
    margin-bottom: 10px; }
    .career_links ul li:last-child {
      margin-bottom: 0; }
    .career_links ul li:after {
      display: none; }
    .career_links ul li a {
      width: 100%;
      padding: 5px 10px;
      display: block; } }
#e_benefits .contractual_section h2 {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #001b48; }
#e_benefits .contractual_section .blks {
  margin-top: 30px; }
  #e_benefits .contractual_section .blks .blk {
    padding-left: 100px;
    min-height: 78px; }
    #e_benefits .contractual_section .blks .blk h4 {
      color: #06a2c4;
      font-weight: bold;
      text-transform: uppercase; }
    #e_benefits .contractual_section .blks .blk p {
      line-height: 20px; }
  #e_benefits .contractual_section .blks .staff {
    background: url(../../img/careers/staff.png) no-repeat center left; }
  #e_benefits .contractual_section .blks .faculty {
    background: url(../../img/careers/faculty.png) no-repeat center left; }
  #e_benefits .contractual_section .blks .research {
    background: url(../../img/careers/research.png) no-repeat center left;
    padding-top: 10px; }
  #e_benefits .contractual_section .blks .dbl_blk {
    margin-bottom: 30px;
    margin-left: -30px; }
    #e_benefits .contractual_section .blks .dbl_blk .blk {
      float: left;
      width: calc((100% / 2) - 30px);
      margin-left: 30px; }
#e_benefits .contractual_section hr {
  margin: 50px 0px;
  background: #06a2c4;
  height: 2px; }
#e_benefits .employee_section h2 {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #001b48;
  margin-top: -9px; }
#e_benefits .employee_section ul {
  list-style-type: none;
  margin: 30px 0px 35px 0px; }
  #e_benefits .employee_section ul li {
    padding-left: 30px;
    background: url(../../img/careers/list_icon.png) no-repeat left 1px;
    margin: 10px 0px;
    line-height: 20px;
    margin-bottom: 15px; }
    #e_benefits .employee_section ul li:last-child {
      margin-bottom: 0; }
#e_benefits .employee_section .blks {
  margin-top: 30px; }
  #e_benefits .employee_section .blks .blk {
    padding-left: 100px;
    min-height: 78px; }
    #e_benefits .employee_section .blks .blk h4 {
      color: #06a2c4;
      font-weight: bold;
      text-transform: uppercase; }
    #e_benefits .employee_section .blks .blk p {
      line-height: 20px; }
  #e_benefits .employee_section .blks .staff {
    background: url(../../img/careers/staff.png) no-repeat center left; }
  #e_benefits .employee_section .blks .faculty {
    background: url(../../img/careers/faculty.png) no-repeat center left; }
  #e_benefits .employee_section .blks .research {
    background: url(../../img/careers/research.png) no-repeat center left;
    padding-top: 10px; }
  #e_benefits .employee_section .blks .dbl_blk {
    margin-bottom: 30px;
    margin-left: -30px; }
    #e_benefits .employee_section .blks .dbl_blk .blk {
      float: left;
      width: calc((100% / 2) - 30px);
      margin-left: 30px; }
@media screen and (min-width: 900px) {
  #e_benefits p {
    width: 70%; } }

/*# sourceMappingURL=employee-benefits.css.map */
